<header>
  <nav class="navbar sticky-top navbar-expand-lg navbar-light navBg">
    <div class="container-fluid">
      <a class="navbar-brand" href="#"><img id="navLogo" src="assets/img/arvylog.png" alt="" /></a>
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarText"
        aria-controls="navbarText"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav ms-auto me-3 mb-2 mb-lg-0">
          <li class="nav-item me-3">
            <a class="nav-link active" aria-current="page" routerLink="/home" fragment="about-us">About Us</a>
          </li>
          <li class="nav-item me-3" id="gmap-link">
            <a
              class="nav-link"
              href="https://www.google.com/maps/place/Aarvy+Healthcare:+OPD+Services/@28.4124315,76.9068114,13z/data=!4m5!3m4!1s0x390d3de3435baee7:0x99eb3254919dd297!8m2!3d28.4124268!4d76.9418303"
              ><i class="fa-solid fa-map-location-dot navLink-icons navLink-icons--primary px-2"></i> Locate Us On
              Google Maps</a
            >
          </li>
          <li class="nav-item me-3">
            <a class="nav-link" href="tel: 8800049055" id="emergency-link"
              ><i class="fa-solid fa-hospital px-2"></i> Emergency</a
            >
          </li>
          <li class="nav-item me-3">
            <a
              routerLink="/home"
              fragment="form-section"
              class="nav-link btn btn-primary"
              id="navBtn"
              aria-current="page"
              (click)="bookAnAppointment()"
              ><i class="fa-solid fa-calendar-check navLink-icons navLink-icons--blue px-2"></i>Book an Appointment</a
            >
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <nav class="navbar sticky-top navbar-light bg-light py-0">
    <div class="container-fluid" id="slidingContainer">
      <a class="sliding-text" href="#"
        ><marquee behavior="scroll" direction="left">We accept all medical insurance and TPA patients</marquee></a
      >
    </div>
  </nav>
</header>
