@use "sass:map";
@import "src/theme/theme-variables";

// .navbar {
//   margin-bottom: $spacer;
// }

#navContainer {
  display: flex;
  flex-direction: row;
  padding-inline: 0;
  margin-top: 2%;
}

#logoContainer {
  padding-right: 0;
  margin-right: 0;
  width: 95%;
  height: auto;
}

.nav1 {
  background-color: map.get($theme-colors, "primary");
  width: 55%;
  padding: 0.3% 3%;
  height: 40%;
  margin-top: 35px;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
  box-shadow: 0 10px 5px map.get($theme-colors, "secondary");
}

.nav2 {
  width: 20%;
  background-color: #ffffff;
  margin-left: 25%;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
  box-shadow: 0 10px 3px map.get($theme-colors, "secondary");
  cursor: pointer;
}

.navLogo {
  min-width: 100%;
}

.nav-link.dropdown-toggle {
  cursor: pointer;
}

.navbar {
  .navbar-nav {
    .nav-item {
      position: relative;
    }
  }
}

.navbar {
  .navbar-nav {
    .nav-link {
      font-size: 1.1em;
      font-weight: 500;
      color: #ffffff;
      transition: all 0.5s;
    }
  }
}

.navbar {
  .navbar-nav {
    .nav-link:hover {
      color: map.get($theme-colors, "secondary");
    }
  }
}

.navbar {
  .navbar-nav {
    .nav-item::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      margin: auto;
      width: 0%;
      background-color: #087f00;
      height: 4px;
      transition: all 0.5s;
    }
  }
}

.navbar {
  .navbar-nav {
    .nav-item:hover::after {
      width: 100%;
    }
  }
}
#navLogo {
  height: auto;
  width: 75%;
  margin-left: 10%;
}

.navbar .sliding-text {
  background-color: #145c5c;
  color: #ffffff;
  width: 100%;
}

.gmap-icon {
  height: auto;
  width: 10%;
}

.emergency-icon {
  height: auto;
  width: 15%;
}

// .collapse {
//   .navbar-nav {
//     .nav-item {
//       margin-left: 2%;

//     }
//   }
// }

.navLink-icons {
  font-size: inherit;

  &--primary {
    color: map.get($theme-colors, "primary");
  }

  &--secondary {
    color: map.get($theme-colors, "secondary");
  }
}
