<header>
  <div class="container-fluid p-0" id="navContainer">
    <nav class="navbar sticky-top navbar-expand-lg nav1">
      <div class="container-fluid">
        <!-- <a class="navbar-brand" href="#"><img id="navLogo" src="assets/img/arvylog.png" alt="" /></a> -->
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarText"
          aria-controls="navbarText"
          aria-expanded="false"
          aria-label="Toggle navigation"
          style="color: white"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
          <ul class="navbar-nav mb-2 mb-lg-0">
            <li class="nav-item me-3">
              <a
                class="nav-link active"
                href="https://patientportal.aarvyhealthcare.com/"
                target="_blank"
                aria-current="page"
                ><i class="fa-solid fa-hospital-user navLink-icons px-2"></i>Patient Portal</a
              >
            </li>
            <li class="nav-item me-3" id="gmap-link">
              <a
                class="nav-link"
                href="https://www.google.com/maps/place/Aarvy+Healthcare:+OPD+Services/@28.4124315,76.9068114,13z/data=!4m5!3m4!1s0x390d3de3435baee7:0x99eb3254919dd297!8m2!3d28.4124268!4d76.9418303"
                ><i class="fa-solid fa-map-location-dot navLink-icons px-2"></i>Locate Us
              </a>
            </li>
            <li class="nav-item me-3">
              <a class="nav-link" href="tel: 8800049055"><i class="fa-solid fa-hospital px-2"></i>Emergency</a>
            </li>
            <li class="nav-item">
              <a
                routerLink="/home"
                fragment="form-section"
                class="nav-link"
                aria-current="page"
                target="_blank"
                (click)="bookAnAppointment()"
                data-bs-toggle="collapse"
                ><i class="fa-solid fa-calendar-check navLink-icons px-2"></i>Book Appointment</a
              >
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <nav class="navbar sticky-top nav2">
      <div class="container-fluid" id="logoContainer">
        <img src="../../../assets/img/ah-logo-mod.jpg" class="navLogo" alt="" srcset="" />
      </div>
    </nav>
  </div>
  <div id="nav2Container">
    <div class="nav-wrapper">
      <div class="grad-bar"></div>
      <nav class="navbar">
        <img src="../../../assets/img/ah-logo-mod.jpg" alt="Company Logo" />
        <div class="menu-toggle" id="mobile-menu" (click)="menuClick()">
          <span class="bar"></span>
          <span class="bar"></span>
          <span class="bar"></span>
        </div>
        <div class="nav no-search" id="navContent">
          <li class="nav-item">
            <a
              class="nav-link active"
              href="https://patientportal.aarvyhealthcare.com/"
              target="_blank"
              aria-current="page"
            >
              <i class="fa-solid fa-hospital-user navLink-icons px-2"></i>Patient Portal</a
            >
          </li>
          <li class="nav-item">
            <a
              class="nav-link"
              href="https://www.google.com/maps/place/Aarvy+Healthcare:+OPD+Services/@28.4124315,76.9068114,13z/data=!4m5!3m4!1s0x390d3de3435baee7:0x99eb3254919dd297!8m2!3d28.4124268!4d76.9418303"
              ><i class="fa-solid fa-map-location-dot navLink-icons px-2"></i>Locate Us
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="tel: 8800049055"><i class="fa-solid fa-hospital px-2"></i>Emergency</a>
          </li>
          <li class="nav-item">
            <a
              routerLink="/home"
              fragment="form-section"
              class="nav-link"
              aria-current="page"
              (click)="bookAnAppointment()"
              ><i class="fa-solid fa-calendar-check navLink-icons px-2"></i>Book Appointment</a
            >
          </li>
        </div>
      </nav>
    </div>
  </div>
</header>
