<div class="main-area">
  <div class="container">
    <section class="left-section">
      <div class="main-content pt-0">
        <div class="primary">
          <div class="central-heading">
            <p class="main-h1">Relaunching</p>
            <p class="main-h2">the website soon!</p>
          </div>
          <div class="central-text">
            Our website is currently undergoing maintenance. We should be back shortly. Thank you for your patience.
          </div>
          <div class="email-container" id="email-container">
            <label for="email1" class="emailLabel" id="emailLabel">Invalid Input</label>
            <div class="email-input-area">
              <input
                class="email-input floating-input"
                name="email"
                id="email1"
                type="text"
                placeholder="Enter your email"
              />
              <button class="submit-btn" name="submit" type="submit" (click)="validateForm1()">
                <b>NOTIFY US</b>
              </button>
            </div>
            <p class="post-label">Sign up now to get early notification of our launch date!</p>
          </div>
          <ul class="footer-icons">
            <li>
              <a href="https://www.facebook.com/AarvyHealthcare"
                ><i class="ion-social-facebook footer-icon me-3"></i
              ></a>
            </li>
            <li>
              <a href="https://twitter.com/HealthcareAarvy"><i class="ion-social-twitter footer-icon me-3"></i></a>
            </li>
            <li>
              <a href="https://www.linkedin.com/company/aarvy-healthcare"
                ><i class="ion-social-linkedin footer-icon me-3"></i
              ></a>
            </li>
            <li>
              <a href="https://www.instagram.com/aarvy_healthcare/"
                ><i class="ion-social-instagram-outline footer-icon me-3"></i
              ></a>
            </li>
          </ul>
        </div>
      </div>
    </section>
    <!-- left-section -->

    <!-- right-section -->
  </div>
  <!-- container -->
</div>
<!-- main-area -->

<div class="link-container text-center">
  <a href="https://patientportal.aarvyhealthcare.com/" class="btn px-5 py-2 portal-link">Patient Portal</a>
</div>

<section id="form-section">
  <div class="form-heading text-center">Appointment Booking</div>
  <div class="container">
    <div class="row">
      <div class="col-md-6 left-half">
        <img src="assets/img/form-vector.svg" class="img-fluid" alt="" />
      </div>
      <div class="col-md-6 right-half">
        <div class="container mx-auto">
          <div class="mb-4" id="fNameContainer">
            <label for="inputFirstName" class="form-label">First Name</label>
            <input type="text" class="form-control" id="inputFirstName" aria-describedby="firstNameHelp" required />
          </div>
          <div class="mb-4" id="lNameContainer">
            <label for="inputLastName" class="form-label">Last Name</label>
            <input type="text" class="form-control" id="inputLastName" aria-describedby="LastNameHelp" />
          </div>
          <div class="mb-4" id="contactContainer">
            <label for="inputContact" class="form-label">Contact Number</label>
            <input type="number" class="form-control" id="inputContact" />
          </div>
          <div class="mb-4" id="dateContainer">
            <label for="inputDate" class="form-label">Preferred Date</label>
            <input type="date" min="{{ currentDate | date: 'yyyy-MM-dd' }}" class="form-control" id="inputDate" />
          </div>
          <div class="mb-4" id="timeContainer">
            <label for="inputTime" class="form-label">Preferred Time</label>
            <input type="time" class="form-control" id="inputTime" />
          </div>
          <a type="submit" class="btn btn-primary px-5 py-3 form-btns" (click)="validateForm2()">Book Appointment</a>
        </div>
      </div>
    </div>
  </div>
</section>
<a
  href="https://wa.me/916262800800?text=Hello,%20I%20I%20had%20a%20query%20regarding%20your%20services."
  class="whatsappFloat"
  target="_blank"
>
  <i class="fa-brands fa-whatsapp"></i>
</a>

<section class="right-section">
  <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button
        type="button"
        data-bs-target="#carouselExampleIndicators"
        data-bs-slide-to="0"
        class="active"
        aria-current="true"
        aria-label="Slide 1"
      ></button>
      <button
        type="button"
        data-bs-target="#carouselExampleIndicators"
        data-bs-slide-to="1"
        aria-label="Slide 2"
      ></button>
      <button
        type="button"
        data-bs-target="#carouselExampleIndicators"
        data-bs-slide-to="2"
        aria-label="Slide 3"
      ></button>
      <button
        type="button"
        data-bs-target="#carouselExampleIndicators"
        data-bs-slide-to="3"
        aria-label="Slide 4"
      ></button>
      <button
        type="button"
        data-bs-target="#carouselExampleIndicators"
        data-bs-slide-to="4"
        aria-label="Slide 5"
      ></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="assets/img/c1.jpg" class="d-block w-100 carousel-images" alt="..." />
      </div>
      <div class="carousel-item">
        <img src="assets/img/c2.jpg" class="d-block w-100 carousel-images" alt="..." />
      </div>
      <div class="carousel-item">
        <img src="assets/img/c3.jpg" class="d-block w-100 carousel-images" alt="..." />
      </div>
      <div class="carousel-item">
        <img src="assets/img/c4.jpg" class="d-block w-100 carousel-images" alt="..." />
      </div>
      <div class="carousel-item">
        <img src="assets/img/c5.jpg" class="d-block w-100 carousel-images" alt="..." />
      </div>
      <div class="carousel-item">
        <img src="assets/img/c6.jpg" class="d-block w-100 carousel-images" alt="..." />
      </div>
    </div>
    <button
      class="carousel-control-prev"
      type="button"
      data-bs-target="#carouselExampleIndicators"
      data-bs-slide="prev"
    >
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button
      class="carousel-control-next"
      type="button"
      data-bs-target="#carouselExampleIndicators"
      data-bs-slide="next"
    >
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</section>

<ng-template #invite let-modal>
  <div class="modal-header" id="modalHeader">
    <h4 class="modal-title" id="modalTitle">Welcome Aboard! <i class="ion-checkmark-circled"></i></h4>
    <!-- <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button> -->
    <button class="btn-close" (click)="modal.dismiss('Cross click')"><i class="ion-close"></i></button>
  </div>
  <div class="modal-body">
    <p class="modal-text">
      You've been signed up for the mailing list. You'll get an invite as soon as the website goes live. Till then, you
      can book your appointments on this page
    </p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary-outline px-3 py-2" id="modalBtn" (click)="modal.close('Close click')">
      Close
    </button>
  </div>
</ng-template>

<ng-template #appointment let-modal>
  <div class="modal-header" id="modalHeader">
    <h4 class="modal-title" id="modalTitle">Appointment Booked! <i class="ion-checkmark-circled"></i></h4>
    <!-- <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button> -->
    <button class="btn-close" (click)="modal.dismiss('Cross click')"><i class="ion-close"></i></button>
  </div>
  <div class="modal-body">
    <p class="modal-text">
      Your preferred date and time has been recorded. We'll get back to you with further details about your appointment.
      We look forward to seeing you!
    </p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary-outline px-3 py-2" id="modalBtn" (click)="modal.close('Close click')">
      Close
    </button>
  </div>
</ng-template>
