<div class="main-area">
  <div class="container full-height position-static">
    <section class="left-section full-height">
      <!-- <a class="logo" href="#"><img src="assets/img/arvylog.png" alt="Logo"></a> -->

      <div class="display-table">
        <div class="display-table-cell">
          <div class="main-content">
            <h1 class="title"><b>Under Construction</b></h1>
            <p class="sub-text">Good things take time!</p>
            <p class="green-text">
              Our website is currently undergoing maintenance. We should be back shortly. Thank you for your patience.
            </p>

            <div class="email-input-area">
              <form method="post">
                <input class="email-input" name="email" type="text" placeholder="Enter your email" />
                <button class="submit-btn" name="submit" type="submit"><b>NOTIFY US</b></button>
              </form>
            </div>
            <!-- email-input-area -->

            <p class="post-desc">Sign up now to get early notification of our launch date!</p>
          </div>
          <!-- main-content -->
        </div>
        <!-- display-table-cell -->
      </div>
      <!-- display-table -->

      <ul class="footer-icons">
        <li>Stay in touch :</li>
        <li>
          <a href="https://www.facebook.com/AarvyHealthcare"><i class="ion-social-facebook"></i></a>
        </li>
        <li>
          <a href="https://twitter.com/HealthcareAarvy"><i class="ion-social-twitter"></i></a>
        </li>
        <li>
          <a href="https://www.linkedin.com/company/aarvy-healthcare"><i class="ion-social-linkedin"></i></a>
        </li>
        <li>
          <a href="https://www.instagram.com/aarvy_healthcare/"><i class="ion-social-instagram-outline"></i></a>
        </li>
      </ul>
    </section>
    <!-- left-section -->

    <section class="right-section">
      <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
          <button
            type="button"
            data-bs-target="#carouselExampleIndicators"
            data-bs-slide-to="0"
            class="active"
            aria-current="true"
            aria-label="Slide 1"
          ></button>
          <button
            type="button"
            data-bs-target="#carouselExampleIndicators"
            data-bs-slide-to="1"
            aria-label="Slide 2"
          ></button>
          <button
            type="button"
            data-bs-target="#carouselExampleIndicators"
            data-bs-slide-to="2"
            aria-label="Slide 3"
          ></button>
          <button
            type="button"
            data-bs-target="#carouselExampleIndicators"
            data-bs-slide-to="3"
            aria-label="Slide 4"
          ></button>
          <button
            type="button"
            data-bs-target="#carouselExampleIndicators"
            data-bs-slide-to="4"
            aria-label="Slide 5"
          ></button>
        </div>
        <div class="carousel-inner rounded">
          <div class="carousel-item active">
            <img src="assets/img/c1.jpg" class="d-block w-100 carousel-images" alt="..." />
          </div>
          <div class="carousel-item">
            <img src="assets/img/c2.jpg" class="d-block w-100 carousel-images" alt="..." />
          </div>
          <div class="carousel-item">
            <img src="assets/img/c3.jpg" class="d-block w-100 carousel-images" alt="..." />
          </div>
          <div class="carousel-item">
            <img src="assets/img/c4.jpg" class="d-block w-100 carousel-images" alt="..." />
          </div>
          <div class="carousel-item">
            <img src="assets/img/c5.jpg" class="d-block w-100 carousel-images" alt="..." />
          </div>
          <div class="carousel-item">
            <img src="assets/img/c6.jpg" class="d-block w-100 carousel-images" alt="..." />
          </div>
        </div>
        <button
          class="carousel-control-prev"
          type="button"
          data-bs-target="#carouselExampleIndicators"
          data-bs-slide="prev"
        >
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button
          class="carousel-control-next"
          type="button"
          data-bs-target="#carouselExampleIndicators"
          data-bs-slide="next"
        >
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
      <!-- <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="assets/img/IMG_2824.JPG" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="assets/img/IMG_2824.JPG" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="assets/img/aboutUs2.jpg" class="d-block w-100" alt="...">
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div> -->
    </section>

    <!-- right-section -->
  </div>
  <!-- container -->
</div>
<!-- main-area -->

<section id="about-us">
  <div class="about-title">
    <div class="container py-4">
      <div class="p-5 mb-4 bg-light rounded-3">
        <div class="container-fluid py-5">
          <h1 class="display-5 fw-bold" style="color: #145c5c">About Us</h1>
          <div class="container-fluid d-flex flex-row card-text">
            <p class="col-md-8 fs-4 my-2 aboutUs-text">
              <span class="aboutUs-title">Aarvy Healthcare Super Speciality Hospital</span> was founded by Dr. Vikram
              Singh and Dr. Renu Yadav as an industry-transforming initiative. It is the first state-of-the-art
              quaternary hospital in New Gurugram. Aarvy Healthcare is structured on contemporary and
              environment-friendly technology.
            </p>
            <img src="assets/img/c1.jpg" id="aboutUs-img" alt="" class="img-fluid" />
          </div>

          <!-- <button class="btn btn-primary btn-lg" type="button">About Us</button> -->
        </div>
      </div>

      <div class="row align-items-md-stretch">
        <div class="col-md-6">
          <div class="h-100 p-5 bg-light rounded-3">
            <img src="assets/img/c4.jpg" class="img-fluid rounded mt-1" alt="" />

            <h2 class="card-text">The hospital caters to</h2>
            <p>
              the requirements of the provision of emergent healthcare. The facility offers multiple sharing, twin
              sharing, single, deluxe, and suite options for patients.
            </p>

            <!-- <button class="btn btn-outline-light" type="button">Example button</button> -->
          </div>
        </div>
        <div class="col-md-6">
          <div class="h-100 p-5 bg-light rounded-3">
            <img src="assets/img/aboutUs2.jpg" class="rounded img-fluid" alt="" />
            <h2 class="card-text">It also offers an</h2>
            <p>
              optimum mix of emergency, department-specific intensive care, and department-specific daycare beds,
              keeping in view the treatment requirements and modalities.
            </p>
            <!-- <button class="btn btn-outline-secondary" type="button">Example button</button> -->
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="form-section" class="mt-5">
  <div class="container">
    <div class="row">
      <div class="col-md-6 left-half">
        <img src="assets/img/form-vector.svg" class="img-fluid" alt="" />
      </div>
      <div class="col-md-6 right-half">
        <div class="container mx-auto">
          <form action="" method="post">
            <div class="mb-4">
              <label for="inputFirstName" class="form-label">First Name</label>
              <input type="text" class="form-control" id="inputFirstName" aria-describedby="firstNameHelp" />
            </div>
            <div class="mb-4">
              <label for="inputLastName" class="form-label">Last Name</label>
              <input type="text" class="form-control" id="inputLastName" aria-describedby="LastNameHelp" />
            </div>
            <div class="mb-4">
              <label for="inputContact" class="form-label">Contact Number</label>
              <input type="number" class="form-control" id="inputContact" />
            </div>
            <div class="mb-4">
              <label for="inputDate" class="form-label">Preferred Date</label>
              <input type="date" class="form-control" id="inputDate" />
            </div>
            <div class="mb-4">
              <label for="inputTime" class="form-label">Preferred Time</label>
              <input type="time" class="form-control" id="inputTime" />
            </div>
            <a type="submit" class="btn btn-primary px-5 py-3 form-btns">Submit</a>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
<a
  href="https://wa.me/916262800800?text=Hello,%20I%20I%20had%20a%20query%20regarding%20your%20services."
  class="whatsappFloat"
  target="_blank"
>
  <i class="fa-brands fa-whatsapp"></i>
</a>

<section id="logo-animation">
  <img src="assets/img/arvylog.png" alt="" srcset="" class="img-fluid" />
</section>
