<div class="container">
  <h1 class="display-2 text-center" id="mainHeading">Privacy Policy</h1>
  <div class="text">
    <h3 class="heading">Terms and conditions for usage</h3>
    Aarvy Healthcare Pvt Ltd is committed to protecting your privacy. It is important to us that our customers retain
    their privacy while taking advantage of the services that we have to offer. To this end, we adhere to the following
    basic principles: <br />
    We employ the highest levels of security to keep your personal information strictly confidential. <br />
    We will not disclose or sell any of your personal information, including your name, address, age, sex or medical
    history to any third party without your permission. <br />
    Although we use cookie technology to help users navigate our site efficiently we never use cookies to store personal
    information, such as credit card numbers. Please be aware, however, that our site contains links to other sites and
    that the privacy practices of other sites may differ from those of
    <a href="https://aarvyhealthcare.com/home" class="links">aarvyhealthcare.com</a>. If you have any additional
    questions or concerns regarding our privacy policies, please email us at
    <a href="https://aarvyhealthcare.com/home" class="links">aarvyhealthcare.com</a> and we’ll respond within 24 hours.
    <br />
    <h3 class="heading">Our Privacy Policy explains:</h3>
    <ul>
      <li>What information we collect from you</li>
      <li>How we use that information</li>
      <br />
    </ul>
    Your privacy is of utmost importance to us. If you have any questions you can reach out to us. <br />
    <h3 class="heading">Information we collect</h3>
    We collect information to provide better services to you, and we may send this information to third-party tools to
    improve our services and personalise your app experience. <br />
    We collect information in the following ways: <br />
    <ul>
      <li>
        Information you give us: Name, phone number, email id this section depends on the information that is being
        collected by your application
      </li>
    </ul>
    <h3 class="heading">How we use the information we collect</h3>
    We use this data and may send it to third-party tools for analytics so that we can personalize your app experience.
    <br />
  </div>
</div>
